.container {
    width: 960px;
    height: 960px;
}

.grid-row {
    display: flex;
}

.grid-box {
    background-color: yellow;
}

.btn-1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 8px;
}

.btn-1:hover {
    color: white; 
}